/* src/components/Experience/Experience.module.css */
.job {
  max-width: 750px;
}

.role {
  font-size: 1.5rem;
  color: var(--primary);
  margin-bottom: 0.25rem;
}

.company {
  font-style: italic;
  margin-bottom: 1rem;
}

.duties {
  padding-left: 1.5rem;
  line-height: 1.7;
}