/* src/components/Skills/Skills.module.css */
.list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
}