.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  min-height: 100vh;
  width: 100%;
  max-width: var(--container-max-width);
  padding: 5rem 1rem;
  border-bottom: 1px solid var(--border);
}